<div id="page-container">
	<div class='row-fluid'>
		<h3 class="quote-inspire">Create an inspiration </h3>
		<h5>Add an inspirational quote and send it to friends. Create a beautiful mural of photos together.</h5>
	</div>
	<%= form_for @inspiration do |f| %>
		<% if flash[:error] -%>
		  <p class='error'><%= flash[:error] %></p>
		<% end -%>
		<%=f.text_field :content, :placeholder => "quote...", :id => "new-inspiration" %>
		<div><%=f.submit "Add" %></div>
	<% end %>
</div>
