<div class="share-holder" id="share-desktop">
    <span class='inspire-friends'>
      Inspire friends
    </span><br><br>
  <%= render 'shared/facebook_desktop' %>
  <%= render 'shared/twitter_share' %>
</div>