<div id='container'>
  <h1><%=@inspiration.content%></h1>
  <% @photos.each do |photo| %>
    <div class='item'><%= image_tag photo.image_url.to_s  %></div>
  <% end %>
</div>

<% if current_user %>
	<%= render 'photos/form' %>
<% else %>


<% end %>
