<h1><%=@inspiration.content%></h1>

<div class="row-fluid photos">
  <div class="span12">
    <% @photos.each_slice(3) do |photos| %>
    <div class="row-fluid">
      <% photos.each do |photo| %>
        <%= render :partial => 'shared/photo', :locals => {:photo => photo} %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>


<%= render 'photos/form' %>

