<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Daily Inspiration</h1>
		<%= DateTime.now.strftime("%B %d, %Y")%>: 
		<h2><%= @inspiration.content %></h2>
		<h4>Take a photo of what this represents to you. Be clever, funny, or inspirational. 
			Let's create something beautiful today.</h4>

		<%= link_to 'Add a photo', 'frozen-cove-1468.herokuapp.com' %>
	</body>
</html>
