<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Inspire Me</h1>
    <%= DateTime.now.strftime("%B %d, %Y")%>: 
    <h2><%= @inspiration.content %></h2>
    <h4> Check out what we all created today. </h4>
    <tr>
      <td style="background-color: #009B77;, border: none;, color: #fff;, border-radius: 5px;, position: relative;, font-size:24px, width: 300px;, height: 70px;">
      <%= link_to 'Check out Mural!', root_url %>
      </td>
    </tr>
  </body>
</html>
