<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Inspire Me</h1>
    <%= DateTime.now.strftime("%B %d, %Y")%>: 
    <h2><%= @inspiration.content %></h2>
    <h4> Check out what we all created today. </h4>
    <%= link_to "Today's mural!", 'frozen-cove-1468.herokuapp.com' %>
  </body>
</html>
