<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Daily Inspiration</h1>
		<%= DateTime.now.strftime("%B %d, %Y")%>: 
		<h2><%= @inspiration.content %></h2>
		<h4>Take a photo of what this represents to you. Be clever, funny, or inspirational. 
			Let's create something beautiful today.</h4>

		<div style="background-color: #009B77;, border: none;, color: #fff;, border-radius: 5px;, position: relative;, font-size:24px, width: 300px;, height: 70px;"><%= link_to 'Add photo', "http://www.inspirely.co" %></div>

		<div>You can <%=link_to 'unsubscribe', "http://www.inspirely.co/users/#{@current_user.id}"%> to Inspirely's emails at any time right on your profile.</div>
	</body>
</html>
