<div class="footer-mobile">
	<div class="menu-button">
		<%=link_to image_tag('explore-button.png', :class=>'btn-img'), inspirations_path%>
	</div>
	<div class="menu-button">
		<%= render :partial => 'photos/mobile_form', :locals => {:inspiration => inspiration} %>	
	</div>
	<div class="menu-button" id="share-button">
		<%=image_tag('share-button.png', :class=>'btn-img', :id => "share-button") %>
	</div>
</div>