.pending {
  font-size: 18px;
  color: orange;
}

.live {
  font-size: 18px;
  color: green;
  font-weight: bold;
}

.inspiration_list_item {
  margin: 15px 0 0 0;
}

#new-inspiration {
	width: 70%;
}