#page-container {
  padding: 50px 0 150px 10px;
}

.messages {
  color: #009B77; 
  float: left;
}

.row-fluid {
  color: #777;
  clear: both;
  padding: 5px 0 10px 0;
  font-family: 'Dosis', sans-serif;
}

.inspiration-holder {
  width: 60%;
  height: 75px;
  padding: 0 0 0 1%;
  float: left;
}

.quote-inspire {
  line-height: 140%;
  margin: 0 0 3px 0;
}

.time {
  margin: 0;
}

.share-holder {
  width: 30%;
  float: left;
  background: #f4f4f4;
  border-radius: 5px;
  padding: 5px 0 10px 10px;
}

#quote-inspire {
  font-size: 1em;
  font-family: 'Esteban', serif;
}

/*////  box with fb and twitter buttons ///*/

.inspire-friends {
  margin: 10px 0;
  font-size: 2em;
}

.share-buttons {
  float:left;
  margin: 3px 0 0 0;
}

.facebook-button {
  margin: 3px 20px 0 0;
}

.fb-like{
  padding: 3px 0 0 0;
  overflow: hidden;
}

.fb-like{
  padding: 3px 0 0 0;
  overflow: hidden;
}

