@import "bootstrap";

#logo {
  font-size: 36px;
  color: white;
  opacity: 1;
  z-index: 1;
}

.pull-right li a{
  color: white;
}

.main-container {
  padding-top: 0px;
  padding-bottom: 175px;
}

.photo {
  margin: 20px 0 0 0;
}

.photo-form {
  padding: 10px 0 0 0px;
  position: fixed;
  bottom: 0;
  border-top: #ccc 3px solid;
  width: 100%;
  background: black;
}

.caption-text {
  padding: 5px;
}

.caption-delete {
  padding: 5px;
}

body {
  background-image: url("debut_light.png") 
}

img {
  border-bottom: solid white 1px;
  padding-bottom: 2px;
  margin: 0;
}

div.caption {
  margin-top: 3px;
}

.caption-text {
  font-family: 'Esteban', serif;
  font-size: 14px;
}

#container {
  margin: 0 auto;
  padding-bottom: 120px;
}

.container-fluid{
  padding: 0;

}

#container .item {
  padding: 10px;
  border: solid #DDDDDD 1px;
  background: white;
  
}

.navbar {
  opacity: 0.85;
  background: #000;
  height: 60px;
  padding-top: 20px;
}

#header-backdrop {
  width: 100%;
  height: 80px;
  background: #000;
}

.navbar-inner{
  width: 80%;
  margin: 0px auto;
}

.footer {
  background: black;
}


#file_field_button {
  background-color: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
}

#choose {
  text-align: center;
  padding-bottom: 25px
}

#file_field {
  display: none;
}

#photo-button {
  background: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  display: none;
}

#caption {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  display: none;
  text-align: center;
}

#caption input {
  width: 85%;
}

#photo_upload_button {
  background-color: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
  display:none;
}

#uploader {
  text-align: center;
  padding-bottom: 25px
}

