@import "bootstrap";


///////////  header - start //////////////
.omar-header {
  position: fixed;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: rgba(248, 254, 255, 0.9);
  z-index: 1;
}

.omar-header a {
   color: #009B77; 
   text-decoration: none; 
}

.omar-header a:hover {
   color: #000;  
}

#logo { 
  padding: 12px 0 0 25%; 
  font-family: 'Petit Formal Script', cursive; 
  font-size: 2em;
  display: inline-block;
}


////////////  header right nav /////////

ul.mobile-nav{
  float: right;
  position:relative;
  right: 10%;
}

.mobile-nav .mobile-button{
  display: none;
}

.mobile-nav .links li {
 display: inline-block;
 margin: 13px 0 0 10px;
}

.links a{
  white-space:nowrap;
  display: block;
}

/////////////  Responsive Design - header /////////

//////////// Ipad view ///////////////////
@media screen and (max-width: 768px) {
   #logo {
    padding-left: 20%; 
   }
   ul.mobile-nav{
     margin-top: 13px;
     right: 20%;
   }

   .mobile-nav li{
     float:right;
     position:relative;
   }

   .mobile-nav .mobile-button{
     display: block;
     text-decoration: none;
   }

   .mobile-nav .links {
     list-style:none;
     margin-left: 0px;
     position:absolute;
     left: -9999px;
   }

   .mobile-nav .links li {
     float:none;
     margin: 3px 0;
   }

   .mobile-nav li .links {
     left:0;
   }

   .mobile-nav .links a{
    width: 110px;
    text-align:center;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2px;
    background-color: #009B77;
    color: #fff;
    font-size: 0.8em;
   }
}


/////////////////  mobile /////////////////////////

@media screen and (max-width: 480px) {
   #logo {
    padding-left: 15%; 
   }


   }



/////////////////   finish responsive design ////////
////////////////    finish header ///////////////////

.messages .notice{
  margin: 0px;
}

#page-container {
  padding-top: 100px;
}

.photos {
  padding-top: 500px;
}

p {
  bottom-margin: -10px;
}
  
.photo {
  margin: 20px 0 0 0;
}

.photo-form {
  padding: 10px 0 0 0px;
  position: fixed;
  bottom: 0;
  border-top: #ccc 3px solid;
  width: 100%;
  background: black;
}

.caption-text {
  padding: 5px;
}

.caption-delete {
  padding: 5px;
}

body {
  font-family: 'Esteban', serif;
  background-color: #f1f1f1;
}

img {
  border-bottom: solid white 1px;
  padding-bottom: 2px;
  margin: 0;
}

div.caption {
  margin-top: 3px;
}

.caption-text {
  font-family: 'Esteban', serif;
  font-size: 14px;
}

#container {
  margin: 0 auto;
  padding-bottom: 120px;
}

.container-fluid{
  padding: 0;
  font-family: 'Esteban', serif;
}

#container .item {
  
  border: solid #DDDDDD 1px;
  background: white;
  
}

#file_field_button {
  background-color: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
}

#choose {
  text-align: center;
  padding-bottom: 25px
}

#file_field {
  display: none;
}

#photo-button {
  background: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  display: none;
}

#caption {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  display: none;
  text-align: center;
}

#caption input {
  width: 85%;
}

#photo_upload_button {
  background-color: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
  display:none;
}

#uploader {
  text-align: center;
  padding-bottom: 25px
}

.inspiration_list_item {
  margin: 15px 0 0 0;
}

.pending {
  font-size: 18px;
  color: orange;
}

.live {
  font-size: 18px;
  color: green;
  font-weight: bold;
}
