@import "bootstrap";

///////////  header - start ///////////////////
.omar-header {
  position: fixed;
  height: 46px;
  width: 100%;
  background-color: rgba(248, 254, 255, 0.9);
  z-index: 1;
  border-bottom: 1px solid #ddd;
}

.omar-header a {
   color: #009B77; 
   text-decoration: none; 
}

.omar-header #logo:hover {
   color: #000;  
}

#logo { 
  padding: 13px 0 0 1%; 
  font-family: 'Petit Formal Script', cursive; 
  font-size: 2.2em;
  display: inline-block;
}

.inspiration {
  text-align: center;
  color: #777;
  clear: both;
} .brand, .quote {
  font-size: 1em;
}



////////////  header right nav ////////////////

.mobile-nav {
  float: right;
  position:relative;
  right: 0%;
  border-right: solid 0px;
}

.mobile-nav li {
  float: right;
  margin-right: 4px;
}

.mobile-nav a {
  text-align: center;
  width: 100px;
  display: block;
  padding: 13px;
  font-size: 1.5em;
  white-space:nowrap;
} 

.mobile-nav a:hover{
  background-color: #E8F7FA;
}

//////////// end header right nav /////////////
//////////// end header for desktops ////////// 


//////////////// end header ///////////////////



//////////////// start body ///////////////////

.messages {
  color: #009B77; 
  float: left;
}

.fb-like{
  float: right !important;
  margin-right: 35px;
  overflow: hidden;
}

.brand{
  color: #009B77;
  font-family: 'Petit Formal Script', cursive; 
}

.quote{
  font-family: 'Dosis', sans-serif;
}

#page-container {
  padding: 60px 0 0 10px;
}

label {
  margin-bottom: 5px;
  display: inline;
}

input {
  border-radius: 3px;

}

#form-container {
  padding-top :60px;
  margin-left: 35%;
}

.center {
  margin: 0 auto;
}

.photos {
  padding-top: 500px;
}

p {
  bottom-margin: -10px;
}

img {
  margin: 0;
}

.caption-text {
  font-family: 'Esteban', serif;
  font-size: 14px;
}

#container {
  margin: 0 auto;
  padding-bottom: 80px;
}


#container .item {
  border: solid #DDDDDD 1px;
  background: white;
  padding: 0;
}

#file_field_button_style {
  background-color: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
}

.item {
  margin: 0;
}

#file_field_button_reg {
  background-color: #ddd;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
}

#choose {
  height: 12.5%;
  text-align: center;
  padding-bottom: 25px
}

.signin-form {
  margin: 10px 0 0 0;
}

#file_field {
  display:none;
}

#photo-button {
  background: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  display: none;
}

#caption {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  display: none;
  text-align: center;
}

#caption input {
  width: 85%;
}

#photo_upload_button {
  background-color: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
  display:none;
}

#uploader {
  text-align: center;
  padding-bottom: 25px
}

.inspiration_list_item {
  margin: 15px 0 0 0;
}

.pending {
  font-size: 18px;
  color: orange;
}

.live {
  font-size: 18px;
  color: green;
  font-weight: bold;
}

//////////////// footer ////////////////////

.footer-mobile {
  width: 100%;
  border-top: #ccc 1px solid;
  background: rgba(248, 254, 255, 1);
  position: fixed;
  bottom: 0;
  height: 50px;
  display: none;
} 

.footer-mobile a {
  display: inline-block;
  float: left;
  width: 33%;
  border-left: solid 1px #ccc;
  height: 100px;
  text-align: center;
  padding-top: 20px;
}

.photo-form {
  padding: 10px 0 0 0;
  position: fixed;
  bottom: 0;
  border-top: #ccc 3px solid;
  width: 40%;
  background: #838383;
  left: 30%;
}

/////////////  Responsive Design - header /////
//////////// Laptop view //////////////////////
@media screen and (max-width: 1200px) {
 .mobile-nav a {
  font-size: 1.2em;
 }
 .brand, .quote {
  font-size: 0.9em;
 }
}

//////////// Ipad view ////////////////////////
@media screen and (max-width: 768px) {
  #logo {
    font-size: 1.8em;
  }
  .mobile-nav a {
   padding: 13px 10px 0px 0px;
   font-size: 1.1em;
   width: 70px;
 }
  .brand, .quote {
  font-size: 0.7em;
 }

}

//////// Mobile view portrait mode/////////////

@media screen and (max-width: 480px) {
  #logo {
    font-size: 1.6em;
   }
  .mobile-nav a {
    font-size: 1.1em;
    width: 60px;
 }
  .photo-form{
    display: none;
  }
  .add-photo{
    display: none;
  }
  .footer-mobile {
    display: block;
  }

}

////////// Mobile view landscape mode /////////

@media screen and (max-width: 320px) {
  #logo {
    font-size: 1.4em;
   }
  .mobile-nav a {
    padding: 13px 10px 0px 0px;
    font-size: 1em;
    width: 60px;
  }
  .add-photo {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
  .photo-form {
    display: none;
  }
}

//////////////// end responsive design ////////



//////////STYLING FOR PROFILE PAGE/////////

.profile-bar {
  border: solid #DDDDDD 1px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background: white;
  width: 85%;
  color: black;
}

.profile-bar:hover {
  background: #F2F2F2;
}

.content-name {
  font-size: 20px;
  padding-top: 15px;
  font-family: 'Petit Formal Script', cursive;
  color: #009B77; 
}

.content-date {
  padding-top: 15px;
  font-family: 'Petit Formal Script', cursive;
}

.content-photo {
  padding-top: 5px;
}

.profile-title {
  padding: 25px 40px 0 40px;
}

.profile-subtitle {
  padding: 0 40px; 
}

/////////end STYLING FOR PROFILE PAGE///////////

.facebook-login {
  margin: 0 0 0 -15px;
  height: 70px;
  width: 330px;
  border-bottom: 1px solid #ddd;
}

input[type="submit"] {
  background: #ddd;
  border-radius: 3px;
  border: 1px #ccc solid;
  width: 310px;
  height: 40px;
  font-size: 20px;
}

input[type="email"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}

input[type="password"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}

input[type="text"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}


.vote-form {
  margin: -25px 0 0 0;
}

.star {
  border: solid yellow 2px;
  size: 24px;
}

.vote-button{
  background: none;
  display: none;
}

#new_vote {
  margin: 0;
}

#new_vote input[type="submit"] {
  background: white;
  border: none;
  width: 40px;
  height: 25px;
  font-size: 14px;
}

#camera_button {
  
}

.image {
    
}

