@import "bootstrap";

///////////  header - start ///////////////////
.omar-header {
  position: fixed;
  height: 46px;
  width: 100%;
  background-color: rgba(248, 254, 255, 0.9);
  z-index: 1;
  border-bottom: 1px solid #ddd;
}

.omar-header a {
   color: #009B77; 
   text-decoration: none; 
}

.omar-header #logo:hover {
   color: #000;  
}

#logo { 
  padding: 13px 0 0 40%; 
  font-family: 'Petit Formal Script', cursive; 
  font-size: 2.2em;
  display: inline-block;
}


////////////  header right nav ////////////////

.mobile-nav {
  float: right;
  position:relative;
  right: 0%;
  border-right: solid 0px;
}

.mobile-nav li {
  float: right;
  margin-right: 4px;
}

.mobile-nav a {
  text-align: center;
  width: 100px;
  display: block;
  padding: 13px;
  font-size: 1.5em;
} 

.mobile-nav a:hover{
  background-color: #E8F7FA;
}

//////////// end header right nav /////////////
//////////// end header for desktops ////////// 

/////////////  Responsive Design - header /////
//////////// Laptop view //////////////////////
@media screen and (max-width: 1200px) {
 #logo {
  padding-left: 30%; 
 }
 .mobile-nav a {
  font-size: 1.2em;
 }
}

//////////// Ipad view ////////////////////////
@media screen and (max-width: 768px) {
  #logo {
    font-size: 2em;
    padding-left: 14%; 
  }
  .mobile-nav a {
   font-size: 1.2em;
   width: 80px;
 }
}

///////////////// Mobile view //////////////////

@media screen and (max-width: 480px) {
  #logo {
    padding-left: 7%; 
    font-size: 1.6em;
   }
  .mobile-nav a {
    font-size: 1.2em;
    white-space:nowrap;
    width: 70px;
 }
}

///////////////// Mobile view //////////////////

@media screen and (max-width: 340px) {
  #logo {
    padding-left: 3%; 
    font-size: 1.4em;
   }
  .mobile-nav a {
    padding: 13px 10px 0px 0px;
    font-size: 1em;
    white-space:nowrap;
    width: 60px;
 }
}

//////////////// end responsive design ////////
//////////////// end header ///////////////////



//////////////// start body ///////////////////

.text{
  height: 50px;
  background-color: red;
  width: 300

}
.messages .notice{
  margin: 0px;
}

#page-container {
  padding-top: 60px;
}

label {
  margin-bottom: 5px;
  display: inline;
}

input {
  border-radius: 3px;

}

#form-container {
  padding-top :60px;
  margin-left: 35%;
}

.center {
  margin: 0 auto;
}

.photos {
  padding-top: 500px;
}

p {
  bottom-margin: -10px;
}
  
.photo {
}

.photo-form {
  padding: 10px 0 0 0px;
  position: fixed;
  bottom: 0;
  border-top: #ccc 3px solid;
  width: 100%;
  background: black;
}

.caption-text {
  padding: 5px;
}

.caption-delete {
  padding: 5px;
}

body {
  font-family: 'Esteban', serif;
  background-color: #f1f1f1;
}

img {
  margin: 0;
}

div.caption {
  margin-top: 3px;
}

.caption-text {
  font-family: 'Esteban', serif;
  font-size: 14px;
}

#container {
  margin: 0 auto;
  padding-bottom: 120px;
}


#container .item {
  border: solid #DDDDDD 1px;
  background: white;
  padding: 0;
}

#file_field_button {
  background-color: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
}

.item {
  margin: 0;
}

#file_field_button_reg {
  background-color: #ddd;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
}

#choose {
  text-align: center;
  padding-bottom: 25px
}

.signin-form {
  margin: 10px 0 0 0;
}

#file_field {
  display:none;
}

#photo-button {
  background: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  display: none;
}

#caption {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  display: none;
  text-align: center;
}

#caption input {
  width: 85%;
}

#photo_upload_button {
  background-color: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
  display:none;
}

#uploader {
  text-align: center;
  padding-bottom: 25px
}

.inspiration_list_item {
  margin: 15px 0 0 0;
}

.pending {
  font-size: 18px;
  color: orange;
}

.live {
  font-size: 18px;
  color: green;
  font-weight: bold;
}

.facebook-login {
  margin: 0 0 0 -15px;
  height: 70px;
  width: 330px;
  border-bottom: 1px solid #ddd;
}

input[type="submit"] {
  background: #ddd;
  border-radius: 3px;
  border: 1px #ccc solid;
  width: 310px;
  height: 40px;
  font-size: 20px;
}

input[type="email"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}

input[type="password"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}

input[type="text"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}