@import "bootstrap";

#logo {
  font-size: 36px;
  color: white;
}

.main-container {
  padding-top: 60px;
  padding-bottom: 175px;
}

.photo {
  margin: 20px 0 0 0;
}

.photo-form {
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  background: white;
  border-top: #ccc 3px solid;
  width: 100%;
}


