@import "bootstrap";

///////////  header - start ///////////////////
.omar-header {
  position: fixed;
  height: 46px;
  width: 100%;
  background-color: rgba(248, 254, 255, 0.9);
  z-index: 1;
  border-bottom: 1px solid #ddd;
}

.omar-header a {
   color: #009B77; 
   text-decoration: none; 
}

.omar-header #logo:hover {
   color: #000;  
}

.inspiration-holder {
  width: 60%;
  padding: 0 0 0 5%;
  float: left;
  margin: -10px 0 0 0;
}

.share-holder {
  width: 30%;
  float: left;
  background: #f4f4f4;
  border-radius: 5px;
  padding: 5px 0 10px 10px;
}

#share-desktop {
  display:block
}

#share-mobile {
  display: none;
}

.share-buttons {
  float:left;
  margin: 3px 0 0 0;
}

.facebook-button {
  margin: 3px 20px 0 0;
}

#logo { 
  padding: 13px 0 0 1%; 
  font-family: 'Petit Formal Script', cursive; 
  font-size: 2.2em;
  display: inline-block;
}

h3 {
  margin: -10px 0 0 0;
  padding: 0;
}

.inspiration {
  color: #777;
  clear: both;
  padding: 5px 0 10px 0;
} .brand, .quote {
  font-size: 1em;
}

#quote-inspire {
  font-size: 40px;
  font-family: 'esteban';
}



////////////  header right nav ////////////////

.mobile-nav {
  float: right;
  position:relative;
  right: 0%;
  border-right: solid 0px;
}

.mobile-nav li {
  float: right;
  margin-right: 4px;
}

.mobile-nav a {
  text-align: center;
  width: 100px;
  display: block;
  padding: 13px;
  font-size: 1.5em;
  white-space:nowrap;
} 

.mobile-nav a:hover{
  background-color: #E8F7FA;
}

//////////// end header right nav /////////////
//////////// end header for desktops ////////// 


//////////////// end header ///////////////////



//////////////// start body ///////////////////

.messages {
  color: #009B77; 
  float: left;
}

.fb-like{
  padding: 3px 0 0 0;
  overflow: hidden;
}

.brand{
  color: #009B77;
  font-family: 'Petit Formal Script', cursive; 
}

.quote{
  font-family: 'Dosis', sans-serif;
}

#page-container {
  padding: 60px 0 0 10px;
}

.inspire_world {
  font-family: 'Esteban', serif;
  font-size: 1.2em;
  color: #777;
  text-decoration: none;
  display: block;
  background: #B5F5E0;
  text-align: center;
  padding: 40px 0 30px 0;
} 

.inspire_world :hover{
  text-decoration: none;
}


label {
  margin-bottom: 5px;
  display: inline;
}

input {
  border-radius: 3px;

}

#form-container {
  padding-top :60px;
  margin-left: 35%;
}

.center {
  margin: 0 auto;
}

.photos {
  padding-top: 500px;
}

p {
  bottom-margin: -10px;
}

.item.masonry-brick{
  margin: 4px;
}

img {
  margin: 0;
}

.caption-text {
  font-family: 'Esteban', serif;
  font-size: 14px;
}

#container {
  margin: 0 auto;
  padding-bottom: 80px;
}


#container .item {
  border: solid #DDDDDD 1px;
  background: white;
  padding: 0;
}

.file_field_button_style {
  background-color: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
}

#file_field_button_mobile {
  background-color: white;
  border: none;
}

#photo_upload_button_mobile {
  background-color: white;
  border: none;
}

.item {
  margin: 0;
}

#file_field_button_reg {
  background-color: #ddd;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
}

#choose {
  height: 12.5%;
  text-align: center;
}

.signin-form {
  margin: 10px 0 0 0;
}

#file_field {
  display:none;
}

#file_field_mobile {
  display:none;
}

#photo-button {
  background: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  display: none;
}

#caption {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  display: none;
  text-align: center;
}

#caption input {
  width: 85%;
}

#photo_upload_button {
  background-color: #009B77;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  width: 85%;
  font-size: 24px;
  height: 55px;
  display:none;
}

#photo_upload_button_mobile {
  display:none;
}

#uploader {
  text-align: center;
  padding-bottom: 25px
}

.inspiration_list_item {
  margin: 15px 0 0 0;
}

.pending {
  font-size: 18px;
  color: orange;
}

.live {
  font-size: 18px;
  color: green;
  font-weight: bold;
}

//////////////// footer ////////////////////

.footer-mobile {
  width: 100%;
  border-top: #ccc 1px solid;
  background: rgba(248, 254, 255, 1);
  position: fixed;
  bottom: 0;
  height: 50px;
  display: none;
} 

.footer-mobile a {
  height: 100px;
  text-align: center;
  padding-top: 20px;
}

.menu-button {
  float:left;
  width: 33%;
  text-align: center;
  padding-top: 10px;
  border-left: 1px solid #ccc;
  height: 100%;
}

.menu-button form {
  margin: 0 0 0 0;
}

.photo-form {
  position: fixed;
  bottom: 0;
  border-top: #ccc 3px solid;
  width: 30%;
  background: #535353;
  left: 35%;
}

.btn-img {
  height:30px;
}

/////////////  Responsive Design - header /////
//////////// Laptop view //////////////////////
@media screen and (max-width: 1200px) {
 .mobile-nav a {
  font-size: 1.2em;
 }
 .brand, .quote {
  font-size: 0.9em;
 }
}

//////////// Ipad view ////////////////////////
@media screen and (max-width: 768px) {
  #logo {
    font-size: 1.8em;
  }
  .mobile-nav a {
   padding: 13px 10px 0px 0px;
   font-size: 1.1em;
   width: 70px;
 }
  .brand, .quote {
  font-size: 0.7em;
 }

}

//////// Mobile view portrait mode/////////////

@media screen and (max-width: 480px) {
  #logo {
    font-size: 1.6em;
   }
  .mobile-nav a {
    font-size: 1.1em;
    width: 60px;
 }
  .photo-form{
    display: none;
  }
  .add-photo{
    display: none;
  }
  .footer-mobile {
    display: block;
  }

  #form-container {
    padding-top :60px;
    margin-left: 5%;
  }

  #quote-inspire {
    font-size: 24px;
    width: 95%;
  }

  #share-desktop {
    display:none
  }

  #share-mobile {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 0px;
  }

}

////////// Mobile view landscape mode /////////

@media screen and (max-width: 320px) {
  #logo {
    font-size: 1.4em;
   }
  .mobile-nav a {
    padding: 13px 10px 0px 0px;
    font-size: 1em;
    width: 60px;
  }
  .add-photo {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
  .photo-form {
    display: none;
  }

  #form-container {
    padding-top:60px;
    margin-left: 5%;
  }

  #quote-inspire {
    font-size: 24px;
    width: 95%;
  }

  #share-desktop {
    display:none
  }

  #share-mobile {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 0px;
  }
}

//////////////// end responsive design ////////



//////////STYLING FOR PROFILE PAGE/////////

.profile-bar {
  border: solid #DDDDDD 1px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background: white;
  width: 90%;
  color: black;
  position: relative;
}

.profile-bar a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.profile-bar:hover {
  background: #F2F2F2;
}

.content-name {
  font-size: 12px;
  padding-top: 10px;
  font-family: 'Petit Formal Script', cursive;
  color: #009B77; 
}

.content-date {
  padding-top: 15px;
  font-family: 'Petit Formal Script', cursive;
}

.content-photo {
  padding-top: 5px;
}

.profile-title {
  padding: 10px 0 0 20px;
}

.profile-subtitle {
  padding: 0 20px; 
}

/////////end STYLING FOR PROFILE PAGE///////////

.facebook-login {
  margin: 0 0 0 -15px;
  height: 70px;
  width: 330px;
  border-bottom: 1px solid #ddd;
}

input[type="submit"] {
  background: #ddd;
  border-radius: 3px;
  border: 1px #ccc solid;
  width: 310px;
  height: 40px;
  font-size: 20px;
}

input[type="email"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}

input[type="password"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}

input[type="text"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}


.vote-form {
  margin: -25px 0 0 0;
}

.star {
  border: solid yellow 2px;
  size: 24px;
}

.vote-button{
  background: none;
  display: none;
}

#new_vote {
  margin: 0;
}

#new_vote input[type="submit"] {
  background: white;
  border: none;
  width: 40px;
  height: 25px;
  font-size: 14px;
}

#pacman {
  height: 200px;
  margin: auto 0;
  padding: 80px;
}
////Styling for Image Show Page////

////EXPLORE PAGE /////
.photo_thumbs {
  clear: both;
  padding: 10px 0 0 0;
}

.photo_thumb {
  width: 50px;
  float: left;
  margin: 0 0 0 5px;
}


.show-container{
  width: 100%
}

.image-container {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.img-show { 
  width: 100%;
  margin-top: 20px;

}

.inspiration-show {
  margin-left: 50%;
  padding-top: 60px;
}

.inspiration-date {
  font-family: 'Dosis', sans-serif;
  color: #009B77;
}

.vote-stats{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;  
  color: #009B77; 
  font-family: 'Dosis', sans-serif;
  font-size: 1.8em;
  margin-top: 50px;
}

#new_vote input[type="submit"] {
  background: #009B77;
  width: 50%;
  float: left;
  height: 40px;
  font-size: 1.2em;
  color: white;
}

.voted{
  float: left;
  margin-left: 5%;
}

.vote-count{
  float: right; 
}

.user-info {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
}

.photo-user{
  float: left;
}

.fb_edge_widget_with_comment{
 float: right;
 margin-right: 0; 
}

/////////////  Responsive Design - ShowPage /////
//////////// Laptop view //////////////////////
@media screen and (max-width: 1200px) {
  .image-container {
  width: 50%;
  margin-left: 25%;
  margin-right:25%;
  }
  .user-info{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  }
  .vote-stats {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

//////////// Ipad view ////////////////////////
@media screen and (max-width: 768px) {
  .image-container {
  width: 60%;
  margin-left: 20%;
  margin-right:20%;
  }
  .user-info {
  width: 60%;
  margin-left: 20%;
  margin-right:20%;
  }
  .vote-stats {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .photo-user{
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }
  .fb_edge_widget_with_comment{
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }
  #new_vote input[type="submit"] {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    background: #009B77;
    height: 40px;
    font-size: 1.2em;
    color: white;
  }
  .voted{
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }
  .vote-count{
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }
}
//////////////// end responsive design ////////

#myModal {
  height: 400px;
  width: 400px;
}

