/*//////////// Laptop view //////////////////////
// header //*/
@media screen and (max-width: 1200px) {
  .right-nav a {
  font-size: 1.2em;
  }

// body //
 .row-fluid {
  font-size: 0.9em;
 }
}
/*
//////////// Ipad view ////////////////////////
// header //*/
@media screen and (max-width: 768px) {
  #logo {
    font-size: 1.8em;
  }
  .right-nav a {
   padding: 13px 5px 13px 0px;
   font-size: 1em;
   width: 65px;
  }

//body //
  .row-fluid {
  font-size: 0.7em;
  }
  .quote-inspire{
  font-size: 18px;
  }
}
.inspiration-page {
  font-size: 0.8em;
} 

.inspiration-page h1 {
  font-size: 2em;
  line-height: 140%;
}
/*
//////// Mobile view portrait mode/////////////
//header //*/
@media screen and (max-width: 480px) {
  #logo {
    font-size: 1.6em;
  }

  .right-nav a {
    width: 40px;
    font-size: .8em;
    margin: 0;
    padding: 15px 0 0 0 ;
  }

  .right-nav li{
    padding:  0;
  }
  
  .explore {
    display:none;
  }
// body
  #share-holder {
    display:none
  } 
  .inspiration-holder{
    width: 90%;
  }
  .quote-inspire{
    font-size: 17px; 
  }
//spinner
  #loading {
    left: 25%;
  }
  
  #container {
    padding-bottom: 60px;
  }

  #container .inspire_world {
    border: 0px;
    display: none;
    margin:0;
  }

  .inspirely {
    display: none;
  }

  #form-container {
    padding-top :60px;
    margin-left: 5%;
  }

// footer //
  .footer-mobile {
    display: block;
  }

  #share-desktop {
    display: none;
  }

  #share-mobile {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 0px;
  }

  .quote{
    font-size:0.7em;
    font-family: 'Dosis', sans-serif;
  }

  .add-photo {
    display: none;
  }
  .inspiration-page {
    width: 80%;
    margin: 10px auto 0px;
    font-size: 0.6em;
  } 

  .inspiration-page h1 {
    
    line-height: 140%;
    margin-bottom: 0;
  }

  .item {
    width: 44%;
  }

  .content-name {
  font-size: 1.2em;
  font-weight: normal;
}

.content-date {
  padding-top: 3px;
  font-size: .9em;
}


}
/*
////////// Mobile view landscape mode /////////
//header //*/
@media screen and (max-width: 320px) {
  #logo {
    font-size: 1.4em;
  }
  .right-nav a {
    padding-left: 10px;
  }
}
