/*//////////// Laptop view //////////////////////
// header //*/
@media screen and (max-width: 1200px) {
  .right-nav a {
  font-size: 1.2em;
  }

// body //
 .row-fluid {
  font-size: 0.9em;
 }
}
/*
//////////// Ipad view ////////////////////////
// header //*/
@media screen and (max-width: 768px) {
  #logo {
    font-size: 1.8em;
  }
  .right-nav a {
   padding: 13px 5px 13px 0px;
   font-size: 1em;
   width: 65px;
  }

//body //
  .row-fluid {
  font-size: 0.7em;
  }
}
/*
//////// Mobile view portrait mode/////////////
//header //*/
@media screen and (max-width: 480px) {
  #logo {
    font-size: 1.6em;
  }
  .right-nav a {
    width: 60px;
  }
  .explore {
    display:none;
  }

  #share-holder {
    display:none
  } 
  #container .inspire_world {
    border: 0px;
    display: none;
  }

  .inspirely {
    display: none;
  }

  #form-container {
    padding-top :60px;
    margin-left: 5%;
  }

// footer //
  .footer-mobile {
    display: block;
  }

  #share-desktop {
    display: none;
  }

  #share-mobile {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 0px;
  }

  h3 {
    margin: 0;
  }
  .quote{
    font-size:0.7em;
    font-family: 'Dosis', sans-serif;
  }

  .add-photo {
    display: none;
  }

/*// admin //*/
  #quote-inspire {
    font-size: 24px;
    width: 95%;
  }

}
/*
////////// Mobile view landscape mode /////////
//header //*/
@media screen and (max-width: 320px) {
  #logo {
    font-size: 1.4em;
  }
  .right-nav a {
    padding-left: 10px;
  }
}